<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/toughts/add" class="btn">Criar Pensamento</a>
    </div>
    <h3>Seus pensamentos</h3>

    {{#each tought}}
    <ul>
        <li>
            <span class="label"> {{this.title}} </span>
            <span class="action">
                <a href="/toughts/edit/{{this.id}}" class="btn">Editar</a>
                <form action="/toughts/remove" class="action" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <input type="submit" value="Excluir" class="btn">
                </form>
            </span>

        </li>
    </ul>
    {{/each}}
    {{#if emptyToughts}}
    <p>Você está sem pensamentos registrados. Registre um <a href="/toughts/add">aqui!</a></p>
    {{/if}}

</div>